<h1>Make a new to-do list</h1>

<%= form_for @todo do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <br>
  <%= f.submit 'Make Todo' %>
<% end %>