<h1><%= @todo.title %></h1>
<p><%= @todo.description %></p>

<h1>Create a new todo item</h1>

<%= form_for @todo_item do |f| %>
  <input type="hidden" name="todo_id" value="<%= @todo.id %>"/>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= f.label :due_date %><br>
  <%= f.datetime_select :due_date, :ampm => true %><br><br>

  <%= f.submit "Create Todo Item" %>
<% end %>
<br><br>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Change Priority</th>
      <th>Active?</th>
      <th>Title</th>   
      <th>Description</th>
      <th>Due Date</th>
    </tr>

    <% @todo_items.each do |todo_item| %>
      <tr>

        <td>
          <% if !todo_item.title.nil? %>
            <a href="/todos/<%= todo_item.id %>/up">Up</a>
            <a href="/todos/<%= todo_item.id %>/up">Down</a>
          <% end %>
        </td>

        <td>
          <%= check_box_tag( todo_item.id, 'active', checked = active_or_not(todo_item), class: 'checkbox' ) %>
        </td>
        <td>
          <%= todo_item.title %>
        </td>
        <td>
          <%= todo_item.description %>
        </td>
        <td>
          <%= todo_item.due_date.strftime("%b %e %Y %m %M %p ") if !todo_item.due_date.nil? %>
        </td>
      <tr>
    <% end %>

  </table>
</div>

<div class="row" id="todo_items">

  

</div>