<h1><%= @todo.title %></h1>
<p><%= @todo.description %></p>

<%= form_for @todo_item do |f| %>
  <input type="hidden" name="todo_id" value="<%= @todo.id %>"/>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= f.label :due_date %><br>
  <%= f.datetime_select :due_date, :ampm => true %><br><br>

  <%= f.submit "Create Todo Item" %>
<% end %>

<%= @todo_items.each do |todo_item| %>
  <h3><%= todo_item.title %></h3>
  <p><%= todo_item.description %></p>
  <p><%= todo_item.due_date %></p>
<% end %>